---

---

<div class="flex flex-col items-center p-10">
    <h2 class="text-4xl text-white font-bold text-center ">Posicionamiento en Google para tu éxito en línea</h2>
    <p class="text-white">We know how large 
        objects will act, but things 
        on a small scale just do 
        not act that way.</p>
</div>